Repository ailyedu2030/CET, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cet4-learning-team, @devops-team, @backend-team, @database-team, @architecture-team, @ai-team, @security-team, @training-team, @content-team, @analytics-team, @frontend-team, @qa-team, @docs-team, @performance-team, @sre-team

.github/CODEOWNERS:

# GitHub CODEOWNERS file for CET4 Learning System
# This file defines code review assignments

# Global default owners
* @cet4-learning-team

# 核心配置文件
/.github/ @cet4-learning-team @devops-team
/pyproject.toml @cet4-learning-team
/requirements.txt @cet4-learning-team
/docker-compose*.yml @cet4-learning-team @devops-team
/Dockerfile @cet4-learning-team @devops-team
/.env.example @cet4-learning-team @devops-team

# 数据库相关
/app/core/database.py @backend-team @database-team
/app/migrations/ @backend-team @database-team
/alembic.ini @backend-team @database-team

# 核心业务逻辑
/app/core/ @backend-team @architecture-team
/app/shared/ @backend-team @architecture-team

# AI服务
/app/ai/ @ai-team @backend-team

# 用户认证和权限
/app/users/ @security-team @backend-team
/app/core/security.py @security-team @backend-team

# 训练系统
/app/training/ @training-team @backend-team

# 资源管理
/app/resources/ @content-team @backend-team

# 分析系统
/app/analytics/ @analytics-team @backend-team

# 前端代码
/frontend/ @frontend-team

# 测试文件
/tests/ @qa-team @backend-team
/frontend/src/**/*.test.* @qa-team @frontend-team

# 文档
/docs/ @docs-team
/README.md @docs-team
/.doc/ @docs-team

# CI/CD配置
/.github/workflows/ @devops-team @cet4-learning-team
/.github/scripts/ @devops-team @cet4-learning-team

# 安全相关
/.github/workflows/security-*.yml @security-team @devops-team
/app/core/security.py @security-team
/app/users/services/auth_service.py @security-team

# 性能关键文件
/app/core/cache.py @performance-team @backend-team
/app/shared/utils/performance_utils.py @performance-team @backend-team

# 部署脚本
/scripts/ @devops-team
/nginx/ @devops-team

# 监控配置
/monitoring/ @devops-team @sre-team
/grafana/ @devops-team @sre-team

fix: make alembic env.py read DATABASE_URL from env var
  alembic/env.py
Owners: @cet4-learning-team

fix: make alembic read DATABASE_URL from env, fix ruff errors
  alembic/env.py
  app/notifications/api/v1/notification_endpoints.py
  app/shared/services/cache_service.py
  app/shared/services/queue_service.py
  pyproject.toml
  tests/integration/database_integration_test.py
Owners: @cet4-learning-team, @backend-team, @architecture-team, @qa-team

fix: add I001 to ruff ignore for import sorting
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .gitignore
  .opencode/oh-my-opencode.jsonc
  AGENTS.md
  claude.md
  pyproject.toml
Owners: @cet4-learning-team

feat: implement competition models, update training services, add ResourceRecommendationModel
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .opencode/oh-my-opencode.jsonc
  AGENTS.md
  Dockerfile
  app/resources/services/permission_service.py
  app/training/models/__init__.py
  app/training/models/assistant_models.py
  app/training/models/competition_models.py
  app/training/services/achievement_service.py
  app/training/services/competition_service.py
  app/training/services/error_analysis_service.py
  app/training/services/goal_setting_service.py
  app/training/services/learning_plan_service.py
  app/training/services/progress_monitoring_service.py
  app/training/services/social_learning_service.py
  app/training/utils/knowledge_graph.py
  app/training/utils/reminder_utils.py
  app/users/utils/auth_decorators.py
  pyproject.toml
  requirements.txt
Owners: @devops-team, @cet4-learning-team, @content-team, @backend-team, @training-team, @security-team

cleanup: delete temporary and backup files
  AUDIT_REPAIR_PLAN.md
  REMAINING_HIGH_PRIORITY_FIXES.md
  REPAIR_PLAN.md
  api_health_report.json
  claude.md
  openapi.json
  requirement_14_test_report.md
  requirement_16_final_report.md
  resource_library_validation_report.json
  ruff_report.json
  run_education_tests.py
  test_login_simple.py
Owners: @cet4-learning-team

cleanup: delete expired reports and .kiro directory
  .cursor/specs-verification-report.md
  .doc/教学大纲/deepseek-optimization-summary.md
  .doc/教学大纲/final-task-review-report.md
  .doc/教学大纲/task-list-summary.md
  .kiro/README.md
  .kiro/hooks/ai-integration-validator.kiro.hook
  .kiro/hooks/business-logic-analyzer.kiro.hook
  .kiro/settings/mcp.json
  .kiro/specs/api-comprehensive-audit/design.md
  .kiro/specs/api-comprehensive-audit/requirements.md
  .kiro/specs/api-comprehensive-audit/tasks.md
  .kiro/specs/cet4-learning-system/design.md
  .kiro/specs/cet4-learning-system/requirements.md
  .kiro/specs/cet4-learning-system/tasks.md
  .kiro/steering/ai-service-temperature-update.md
  .kiro/steering/code-generation-templates.md
  .kiro/steering/deepseek-optimization-guide.md
  .kiro/steering/deepseek-temperature-config.md
  .kiro/steering/directory-structure-guidelines.md
  .kiro/steering/education-system-standards.md
  .kiro/steering/intelligent-agent-coding-guidelines.md
  .kiro/steering/intelligent-agent-development-config.md
  .kiro/steering/project-context.md
  .kiro/steering/realtime-performance-testing.md
  .kiro/steering/realtime-response-strategy.md
  .kiro/steering/task-execution-standards.md
  docs/code_duplication_refactoring_report.md
  docs/education_business_logic_analysis_report.md
  docs/requirement_33_acceptance_report.md
  tools/reports/acceptance_check_report.json
  tools/reports/api_audit_comprehensive_summary.md
  tools/reports/api_audit_requirement_1.md
  tools/reports/api_fix_phase2_complete.md
  tools/reports/api_fix_requirement_1_complete.md
  tools/reports/api_fix_requirement_2_progress.md
  tools/reports/comprehensive_audit_summary.md
  tools/reports/database_summary.json
  tools/reports/priority_sorting_report.json
  tools/reports/requirement_mapping_report.json
Owners: @cet4-learning-team, @docs-team

cleanup: delete monitoring and quality-reports directories
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/ai_service_metrics.json
  monitoring/grafana/dashboards/system_overview.json
  monitoring/grafana/dashboards/user_activity.json
  monitoring/grafana/provisioning/dashboards.yml
  monitoring/grafana/provisioning/datasources.yml
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/alerts.yml
  quality-reports/eslint-report.txt
  quality-reports/frontend-test-report.txt
  quality-reports/mypy-report.txt
  quality-reports/quality-report.json
  quality-reports/quality-report.md
  quality-reports/ruff-report.json
  quality-reports/test-report.txt
  quality-reports/typescript-report.txt
  reports/学习进度报表_20250827_015305.json
Owners: @devops-team, @sre-team, @cet4-learning-team

fix: update codebase service files
  app/resources/models/__init__.py
  app/shared/models/__init__.py
  app/shared/services/file_storage_service.py
  app/training/services/competition_service.py
  app/users/services/admin_service.py
Owners: @content-team, @backend-team, @architecture-team, @training-team, @security-team

feat: add test infrastructure and file storage models
  TESTING_STRATEGY.md
  TESTING_SUMMARY.md
  app/shared/models/file_storage_models.py
  requirements-test.txt
  tests/conftest.py
  tests/integration/test_database_operations.py
  tests/unit/test_achievement_service.py
Owners: @cet4-learning-team, @backend-team, @architecture-team, @qa-team

chore: update .gitignore and requirements.txt
  .gitignore
  requirements.txt
Owners: @cet4-learning-team

fix: update Dockerfile to copy from correct dist location
  Dockerfile
Owners: @cet4-learning-team, @devops-team

style: apply Black formatting and fix test conftest
  app/shared/models/file_storage_models.py
  app/shared/services/file_storage_service.py
  app/training/models/assistant_models.py
  app/training/models/competition_models.py
  app/training/services/achievement_service.py
  app/training/services/competition_service.py
  app/training/services/goal_setting_service.py
  app/training/services/learning_plan_service.py
  app/training/services/progress_monitoring_service.py
  app/training/services/social_learning_service.py
  app/training/utils/knowledge_graph.py
  app/training/utils/reminder_utils.py
  app/users/services/admin_service.py
  app/users/utils/auth_decorators.py
  tests/conftest.py
Owners: @backend-team, @architecture-team, @training-team, @security-team, @qa-team

fix: resolve all Ruff errors and code quality issues
  app/shared/services/file_storage_service.py
  app/training/services/competition_service.py
  app/users/services/admin_service.py
  requirements-test.txt
  tests/unit/test_achievement_service.py
Owners: @backend-team, @architecture-team, @training-team, @security-team, @cet4-learning-team, @qa-team

fix: update Ruff arguments in CI for compatibility
  .github/workflows/ci.yml
Owners: @devops-team, @cet4-learning-team

fix: update Ruff versions and CI arguments for full compatibility
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  requirements-test.txt
  requirements.txt
Owners: @devops-team, @cet4-learning-team

perf: optimize CI workflow performance and add production readiness features
  .github/workflows/ci.yml
  app/main.py
Owners: @devops-team, @cet4-learning-team

fix: resolve Alembic multiple heads and Pydantic warnings
  alembic/versions/015_training_workshop_add_training_workshop_tables.py
  alembic/versions/add_listening_practice_tables.py
  alembic/versions/edde780bb399_add_intelligent_training_loop_model_for_.py
  app/shared/config/vector_config.py
  app/shared/models/metrics.py
  app/shared/models/validators.py
Owners: @cet4-learning-team, @backend-team, @architecture-team

fix: rewrite test_database_operations.py with correct syntax
  tests/integration/test_database_operations.py
Owners: @qa-team, @backend-team

refactor: apply various improvements from oh-my-opencode desktop
  .opencode/oh-my-opencode.jsonc
  app/ai/services/api_key_pool_service.py
  app/ai/services/deepseek_content_service.py
  app/ai/services/deepseek_embedding_service.py
  app/ai/services/deepseek_service.py
  app/ai/services/enhanced_collaboration_manager.py
  app/ai/services/lesson_plan_service.py
  app/ai/services/syllabus_service.py
  app/ai/utils/cost_calculator.py
  app/analytics/api/v1/enhanced_monitoring_endpoints.py
  app/analytics/services/enhanced_performance_monitor.py
  app/analytics/services/intelligent_alert_manager.py
  app/backup/services/restore_service.py
  app/backup/utils/backup_utils.py
  app/core/models_registry.py
  app/notifications/services/notification_service.py
  app/notifications/services/websocket_manager.py
  app/resources/api/v1/resource_endpoints.py
  app/shared/middleware/audit_middleware.py
  app/shared/middleware/security_middleware.py
  app/shared/services/cache_service.py
  app/shared/services/performance_service.py
  app/training/services/training_center_service.py
  app/training/utils/knowledge_graph.py
  app/users/services/registration_verification_service.py
  app/users/utils/jwt_utils.py
  frontend/src/pages/Student/GradingResults/GradingResultsPage.tsx
Owners: @cet4-learning-team, @ai-team, @backend-team, @analytics-team, @architecture-team, @content-team, @training-team, @security-team, @frontend-team

style: apply Black formatting and fix MyPy type errors
  app/main.py
  app/shared/models/metrics.py
  app/shared/models/validators.py
  app/shared/services/cache_service.py
  app/training/services/learning_plan_service.py
  app/users/utils/jwt_utils.py
Owners: @cet4-learning-team, @backend-team, @architecture-team, @training-team, @security-team

fix: resolve import errors and Pydantic warnings
  app/analytics/schemas/analytics_schemas.py
  app/courses/models/__init__.py
  app/users/schemas/auth_schemas.py
Owners: @analytics-team, @backend-team, @cet4-learning-team, @security-team

chore: add MIT LICENSE
  LICENSE
Owners: @cet4-learning-team

fix: add competition tables migration, unify dependencies, and fix config
  alembic/versions/018_add_competition_tables.py
  alembic/versions/0b145e45e096_merge_heads_add_listening_practice_.py
  app/core/config.py
  app/training/models/__init__.py
  app/training/models/competition_models.py
  pyproject.toml
Owners: @cet4-learning-team, @backend-team, @architecture-team, @training-team

fix: update alembic/env.py to import settings from app.core.config
  alembic/env.py
Owners: @cet4-learning-team

chore: fix Ruff errors in Alembic files
  alembic/env.py
  alembic/versions/0b145e45e096_merge_heads_add_listening_practice_.py
Owners: @cet4-learning-team

style: apply Black formatting to app/core/config.py
  app/core/config.py
Owners: @backend-team, @architecture-team

fix: resolve remaining type and style issues
  app/resources/models/social_models.py
  app/resources/services/permission_service.py
  app/training/models/learning_plan_models.py
  app/training/services/learning_plan_service.py
  app/training/services/question_batch_service.py
  pyproject.toml
Owners: @content-team, @backend-team, @training-team, @cet4-learning-team

fix: add missing imports for ListeningExercise and ListeningResult
  app/training/services/listening_service.py
Owners: @training-team, @backend-team

fix: add DateTime import and update configs, add audit and todo reports
  COMPREHENSIVE_AUDIT_REPORT.md
  TODO_IMPLEMENTATION_PLAN.md
  app/training/models/learning_plan_models.py
  pyproject.toml
Owners: @cet4-learning-team, @training-team, @backend-team

feat: implement all features for learning_plan_service
  app/training/services/learning_plan_service.py
Owners: @training-team, @backend-team

feat: implement all features for achievement_service
  app/training/services/achievement_service.py
Owners: @training-team, @backend-team

feat: implement all features for goal_setting_service
  app/training/services/goal_setting_service.py
Owners: @training-team, @backend-team

feat: add notification service integration and custom achievement save to achievement_service
  app/training/services/achievement_service.py
Owners: @training-team, @backend-team

feat: fix frontend configs, add audit reports and refactoring docs
  FRONTEND_COMPREHENSIVE_AUDIT_REPORT.md
  docs/refactoring/CET_API_Specification.md
  docs/refactoring/CET_Complete_Migration_Plan_V2.md
  docs/refactoring/CET_Database_Schema_Design.md
  docs/refactoring/CET_Document_Analysis_Report.md
  docs/refactoring/CET_Environment_Variables.md
  docs/refactoring/CET_Field_Mapping_Migration.md
  docs/refactoring/CET_Full_Feature_Audit_Report.md
  docs/refactoring/CET_Functional_Chains.md
  docs/refactoring/CET_Migration_Execution_Plan.md
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  pyproject.toml
Owners: @cet4-learning-team, @docs-team, @frontend-team
